DirectoryIndex index.html index.php
Options +FollowSymLinks -Indexes
#RewriteBase  /

<IfModule mod_rewrite.c>
 RewriteEngine On
 
 RewriteRule ^.+\.min\.js$ _include/compress_test.php [L]
 RewriteRule ^.+\.(js|css)$ _include/static.php [L]
 RewriteRule ^.+\.js\.html$ _include/compress_test.php [L]
 


</IfModule>


#php_value output_handler ob_gzhandler
php_flag short_open_tag off
